<div class="row clearfix">
    <div class="col-md-6 col-md-offset-3 column">
        <form role="form" {{action "register" on="submit"}}>

            {{#if registerFailed}}
                <div class="alert alert-danger" role="alert">
                    Oops... an error occurred... ({{saveErrorMessage}}). Please try again later...
                </div>
            {{/if}}

            {{#if registerSuccess}}
				<div class="alert alert-success" role="alert">
					All good... enjoy!
				</div>
            {{/if}}

            {{#if validationFailed}}
                <div class="alert alert-warning" role="alert">
                    Please check the values! Bitch...
                </div>
            {{/if}}


            <div {{bind-attr class=":form-group emailNotValid:has-warning"}}>
                <label for="inputEmail">Email address</label>
				<div class="input-group">
				    <div class="input-group-addon">@</div>
                    {{input type="text" class="form-control" placeholder="Enter email" id="inputEmail" valueBinding="emailAddress"}}
                </div>
				<!--<span {{bind-attr class=":email-warning-sign :glyphicon :glyphicon-warning-sign :form-control-feedback emailNotValid:show"}}></span>-->
            </div>
            <div {{bind-attr class=":form-group usernameMissing:has-error"}}>
                <label for="inputUsername">Username</label>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    {{input type="text" class="form-control" placeholder="Enter username" id="inputUsername" valueBinding="username"}}
                </div>

            </div>
            <div {{bind-attr class=":form-group passwordMissing:has-error"}}>
                <label for="inputPassword">Password</label>
				<div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-warning-sign"></span></div>
                    {{input type="password" class="form-control" placeholder="Enter Password" id="inputPassword" valueBinding="password"}}
                </div>
            </div>
            <button type="submit" class="btn btn-default" {{bindAttr disabled="isProcessing"}}>Sign up now...</button>
        </form>

    </div>
</div>
